---
- name: Invoke gather function
  ansible.builtin.include_role:
    name: network.base.resource_manager
  vars:
    action: 'gather'
    resources:
      {% for r in resources %}
      - "{{r}}"       
      {% endfor %}