---
- name: Set default path
  ansible.builtin.set_fact:
    inventory: ./inventory
  when: inventory_directory is not defined

- name: Set default path
  ansible.builtin.set_fact:
    inventory: {% raw %} "{{ inventory_directory }}" 
  when: inventory_directory is defined {% endraw %}


- name: Set ignore_empty
  ansible.builtin.set_fact:
    ignore_empty: false
  when: persist_empty is not defined

- name: Set ignore_empty
  ansible.builtin.set_fact:
    ignore_empty: {% raw %} "{{ persist_empty }}" 
  when: persist_empty is defined {% endraw %}


- name: Invoke persist function
  ansible.builtin.include_role:
    name: network.base.resource_manager
  vars:
    action: 'persist'
    resources:
      - "{{resource}}"
    persist_empty: {% raw %} "{{  ignore_empty }}"
    inventory_directory:  "{{  inventory }}" {% endraw %}
