---
- name: Invoke gather function
  ansible.builtin.include_role:
    name: network.base.resource_manager
  vars:
    action: 'persist'
    resources: 
    {% for r in resources %}
      - "{{r}}"       
    {% endfor %} {% raw %}    
    ignore_empty: "{{ persist_empty | default(true) }}" {% endraw %}
