---
- name: Invoke remediate function
  ansible.builtin.include_role:
    name: network.base.resource_manager
  vars:
    action: 'remediate'
    state: 'replaced'
    resources:
      {% for r in resources %}
      - "{{r}}"
      {% endfor %}