## Ansible network resource module: {{ network_os }}_{{ resource }}

This README was auto generated but should be modified.  It should contain information and examples
for the {{ structure }} that was generated if the {{ structure }} is distributed independently.
