---
authors:
  - <name of author>
dependencies:
  "ansible.netcommon": ">=4.1.0"
  "ansible.utils": ">=2.7.0"
license_file: LICENSE
name: "{{ name }}"
description: Ansible Network BGP enables user to manage the name independent of platforms and perform BGP health checks.
namespace: network
readme: README.md
repository: https://github.com/redhat-cop/network.{{ name }}
issues: https://github.com/redhat-cop/network.{{ name }}/{{ name }}
version: 1.0.0
