---
authors:
  - <name of author>
dependencies:
  "ansible.netcommon": ">=4.1.0"
  "ansible.utils": ">=2.7.0"
license_file: LICENSE
name: "{{ resource }}"
description: Ansible Network BGP enables user to manage the BGP resources independent of platforms and perform BGP health checks.
namespace: network
readme: README.md
repository: https://github.com/redhat-cop/network."{{ resource }}
issues: https://github.com/redhat-cop/network."{{ resource }}"/"{{ resource }}"
version: 1.2.0
