## Ansible security resource module: {{ collection_name }}_{{ resource }}

This README was auto generated but should be modified.  It should contain information and examples
for the collection that was generated if the collection is distributed independently.